h1.b{
    color: hotpink;
}
h1.e{
    color: lawngreen;
}
h1.f{
    color: lightseagreen;
}
h1.h{
    color: midnightblue;
}
h1.j{
    color: orangered;
}
h1.l{
    color: purple;
}
h1.n{
    color: turquoise;
}
h1.o{
    color: brown;
}
h1.q{
    color: darkblue;
}
h1.r{
    color: darkorange;
}
h1.t{
    color: deeppink;
}
h1.v{
    color: goldenrod;
}
h1.x{
    color: indigo;
}
h1.z{
    color: orangered;
}